@model SistemAcademico.Models.ProfesorModel
@*<div class="row">
        <div class="col-md-4">
            <form asp-action="EditarProfesor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdProfesor" class="control-label"></label>
                    <input asp-for="IdProfesor" class="form-control" />
                    <span asp-validation-for="IdProfesor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombres" class="control-label"></label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cedula" class="control-label"></label>
                    <input asp-for="Cedula" class="form-control" />
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
    <div class="row">
        @Html.HiddenFor(Model => Model.IdProfesor)
        @*<label asp-for="IdProf" class="control-label"></label>*@
        <div class="col-md-2">
            <label asp-for="Cedula" class="control-label"></label>
            <input asp-for="Cedula" class="form-control" id="Cedula" />
        </div>

        <div class="col-md-5">
            <label asp-for="Nombres" class="control-label"></label>
            <input asp-for="Nombres" class="form-control" id="Nombres" />
        </div>

        <div class="col-md-5">
            <label asp-for="Apellidos" class="control-label"></label>
            <input asp-for="Apellidos" class="form-control" id="Apellidos" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" id="Telefono" class="form-control" />
        </div>

        <div class="col-md-8">
            <label asp-for="Correo" class="control-label"></label>
            <input asp-for="Correo" id="Correo" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label asp-for="Direccion" class="control-label"></label>
            <input asp-for="Direccion" id="Direccion" class="form-control" />
        </div>
    </div>

    <div class="col-md-12">
        <button data-dismiss="modal" class="btn btn-default">Cancel</button>
        <button type="submit" id="btnActualizarProfesor" class="btn btn-success">Enviar</button>
    </div>

    <script>

        function modeloProfesor() {
            var modelo =
            {
                IdProfesor: '@Model.IdProfesor',
                Nombres: $('#Nombres').val(),
                Apellidos: $('#Apellidos').val(),
                Cedula: $('#Cedula').val(),
            };
            return modelo;
        }

        $("#btnActualizarProfesor").click(function () {
            debugger
        var model = modeloProfesor();
        $.ajax(
            {
                cache: false,
                type: 'POST',
                url: '@Url.Action("ActualizarProfesor", "Profesor")',
                data: model,
                success: function (data) {
                    alert("Profesor modificado");
                    //$("#divListaArticulo").html('');
                    //$("#divListaArticulo").html(data);
                    //$("#btnCerrarModalCliente").click();
                    //$("#btnConsultar").click();
                },
                error: function (xhr) {
                    alert(xhr);
                    return false;
                }
            });
    });

    </script>