<script src="~/lib/jquery/dist/jquery.min.js"></script>

@model SistemAcademico.Models.AsignaturaModel

        <div class="row">
            <div class="col-lg-12">
                <label asp-for="Nombre" class="col-lg-4"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <label asp-for="Descripcion" class="col-lg-4"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-sm btn-success" id="btnGrabarAsignatura">
                <i class="glyphicon glyphicon-refresh"></i> Grabar
            </button>
            <button class="btn btn-sm btn-danger" id="btnCerrar" data-dismiss="modal" aria-hidden="true">
                <i class="glyphicon glyphicon-remove"></i> Cerrar
            </button>
        </div>
    </div>

<script>

    function modeloAsignatura()
    {
        var modelo =
        {
            Nombre: $('#Nombre').val(),
            Descripcion: $('#Descripcion').val(),
        };
        return modelo;
    }

    //function validarDatos() {
    //    var model = modeloProfesor();
    //    if (model.Nombres === "") {
    //        alert("Ingrese Nombre");
    //        return false;
    //    }

    //    if (model.Apellidos === "") {
    //        alert("Ingrese Apellidos");
    //        return false;
    //    }

    //    if (model.Cedula === "") {
    //        alert("Ingrese Cedula");
    //        return false;
    //    }
    //    return true;
    //};

    $("#btnGrabarAsignatura").click(function () {

        var model = modeloAsignatura();

        //datos = validarDatos();
        //if (!datos) {
        //    return false;
        //}

        $.ajax(
            {
                cache: false,
                type: 'POST',
                url: '@Url.Action("GrabarAsignatura", "Asignatura")',
                data: model,
                success: function () {
                    alert("Asignatura Agregada");
                    //$("#btnCerrarModaCliente").click();
                    //$("#btnConsultar").click();
                },
                error: function (xhr) {
                    //alert("No se puede agregar, ya existe este número de cedula");
                }
            });
    });

</script>